<div class="breadcrumbs">
    <div>
        <ul class="breadcrumb-child">
            <li><a href="">Home </a></li>
            <%= '/' %>
            <li><a href="">Shopping Cart</a></li>
        </ul>
    </div>
</div>

<div id="checkout-cart" class="container" style="margin-top:40px">
        <div class="row">
            <div id="content" class="col-sm-12">
                <h1>Shopping Cart (0.00kg)</h1>
                <form action="" method="" enctype="multipart/formdata">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td class="text-center">Image</td>
                                    <td class="text-left">Product Name</td>
                                    <td class="text-left">Model</td>
                                    <td class="text-left">Quantity</td>
                                    <td class="text-right">Unit Price</td>
                                    <td class="text-right">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <a href="http://audrizconcepts.com.ng/index.php?route=product/product&product_id=63">
                                            <img src="http://audrizconcepts.com.ng/image/cache/catalog/PHOTO-2021-02-25-13-11-24_9-80x107.jpg" alt="Ankara Short Gown" class="img-fluid img-thumbnail">
                                        </a>
                                    </td>
                                    <td class="text-left">
                                        <a href="">Ankara Short Gown</a>
                                    </td>
                                    <td class="text-left">ASG02</td>
                                    <td class="text-left">
                                        <div class="input-group btn-block" style="max-width:200px">
                                            <input type="text" name="quantity" value="1" size="1" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                                <button type="submit" class="btn btn-danger">
                                                    <i class="fa fa-times-circle"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">₦15,000.00</td>
                                    <td class="text-right">₦15,000.00</td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </form>
                <br>
                <div class="row">
                    <div class="col-md-4 offset-md-8">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="text-right">
                                        <strong>Sub-Total:</strong>
                                    </td>
                                    <td class="text-right">₦35,000.00</td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        <strong>Total:</strong>
                                    </td>
                                    <td class="text-right">₦35,000.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="buttons clearfix">
                    <div class="pull-left">
                        <a href="" class="btn btn-default">Continue Shopping</a>
                    </div>
                    <div class="pull-right">
                    <a href="" class="btn btn-primary">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
</div>
<br><br>